<div class="book-summary">
    <nav role="navigation">
        <div id="book-search-input" role="search">
            <input type="text" placeholder="Type to search" />
        </div>
        <div id="book-search-input-link" role="search">
            <a href="{{site.baseurl}}/assets/search.html">Click to Search</a>
        </div>
        <ul class="summary">
            {% if page.url == "/index.html" or page.url == "/" %}
            <li class="chapter active" data-level="1.1" data-path="{{site.baseurl}}">
            {% else %}
            <li class="chapter" data-level="1.1" data-path="{{site.baseurl}}">
            {% endif %}
                <a href="{{site.baseurl}}/">
                    {{ site.title | escape }}

<li class="chapter" data-level="1.2" data-path="{{site.baseurl}}/paper/">
    <a href="{{site.baseurl}}/paper/2023-08-24-content.html">
        Paper
    </a>
</li>
<li class="chapter" data-level="1.3" data-path="{{site.baseurl}}/learning/">
    <a href="{{site.baseurl}}/learning/2023-08-24-content.html">
        Learning
    </a>
</li>
<li class="chapter" data-level="1.4" data-path="{{site.baseurl}}/tool/">
    <a href="{{site.baseurl}}/tool/2023-08-24-content.html">
        Tool
    </a>
</li>
                </a>
            </li>

            
{% comment %}
  Create an empty array to store unique category names
{% endcomment %}
{% assign unique_categories = "" | split: "" %}



{% for category in unique_categories %}
  <li><span class="category-title" onclick="toggleCategory('{{ category }}')">{{ category }}</span>
    <ul id="{{ category }}" class="category-posts">
      
    </ul>
  </li>
{% endfor %}
</ul>
    </nav>
</div>
